body{
	background: gray;
}

a:link,a:visited,a:hover,a:active {
	color: #FFFFFF;
	text-decoration: none;
}

canvas { 
	background:#FFFFFF;
}

canvas, img { 
	display: block;  
	border: 1px solid black; 
}

.ctrlButton{
	width:3em;
	height:3em;
}

#ElementFacoryEditor,#LevelEditor{
	width:100%;
	height:100%;
	text-align:left;
}

#editorFirstCol{
	width:20%;
	height:2em;
}

#searchOrAddFactory,#searchOrAddLevel{
	width:100%;
}

#factoryCodeEditor,#levelCodeEditor{
	width:100%;
	height:100%;
}

#factories,#levels{
	width:100%;
	height:100%;
}

#output{
	width:100%;
}

#pageOutput,#codeToLoad{
	width:100%;
}

#exportHtml,#touchKeyboard,#helpAboutText,#loadGameCodeDiv{
	display:none;
}

/* tabs BEGIN */

#gameEditor { 
}

#tabLinks { 
	list-style: none; 
	overflow-x: hidden; 
	padding: 0;
	margin: 0;
}

#tabLinks li {  
}

#tabLinks li a { 
	font: bold 11px/16px arial, helvetica, sans-serif;
	border-width: 1px;
	border-bottom-color: #000000;
	border-style: solid;
	padding: 2px 3px;
	background: #ffffff;
	
	color: black; 
	float: left;  
}

#tabLinks li a:hover { 
	color: #a00;
	border-bottom-color: #ffffff;
}

#tabLinks li a.active { 
	color: #a00;
	border-bottom-color: #ffffff;
}

#tabLinks li a.active:hover { 
	color: #a00;
	border-bottom-color: #ffffff;
}

#tabContents { 
	height: 20em;
	padding: 0px 0px 0px 0px;
	border-width: 0px;
	overflow: hidden; 
}

.tabContent { 
	height: 20em; 
	overflow: auto;
	background: #FFF;
}

#factoriesTab:target, #resourcesTab:target, #box3:target {
}

/* tabs END */
