body{
	background: gray;
}

a:link,a:visited,a:hover,a:active {
	color: #FFFFFF;
	text-decoration: none;
}

canvas { 
	background:#FFFFFF;
}

canvas, img { 
	display: block; 
	margin: 1em auto; 
	border: 1px solid black; 
}

div#gameFlowControl{
	margin: 0px auto 0px auto; 
	text-align: center;
}

.ctrlButton{
	width:3em;
	height:3em;
}

#gameEditor{
	width:100%;
}

#factories{
	width:100%;
	height:100%;
}

#codeEditor{
	width:100%;
	height:100%;
}
